name: "bash-jail"
mode: ONCE

# log_level: DEBUG
# log_level: INFO
log_level: WARNING
# log_level: ERROR
# log_level: FATAL

hostname: "JAILED"
cwd: "/tmp"

time_limit: 180
max_cpus: 1

rlimit_as: 512
rlimit_cpu: 180
rlimit_nofile: 32

clone_newnet: false
clone_newuser: false
clone_newns: false
clone_newpid: false
clone_newipc: false
clone_newuts: false
clone_newcgroup: false

uidmap {
  inside_id: "0"
  outside_id: ""
  count: 1
}

gidmap {
  inside_id: "0"
  outside_id: ""
  count: 1
}

mount {
  src: "/"
  dst: "/"
  is_bind: true
  rw: false
}

mount {
  dst: "/proc"
  fstype: "proc"
}

mount {
  dst: "/tmp"
  fstype: "tmpfs"
  rw: true
}

# seccomp_string: "ALLOW { brk, mmap, munmap, execve, exit_group, write, read, openat, close, lseek, getrandom, madvise, futex, sched_yield } DEFAULT KILL"
